<div class="container" style="display: flex; justify-content: space-between">
    <a href="sfia" class="active">List</a>
    <a href="sfia-categories">Categories</a>
    <a>Sub Categories</a>
    <a>By Role</a>
</div>

<div class="container">
    <h3>SFIA Skill Categories</h3>
</div>

<div class="container" id="accordion">
  <div class="card" [attr.id]="'accordion_' + i" *ngFor="let c of category; let i = index;">
    <div class="card-header">
      <h4 class="panel-title">
        <a data-toggle="collapse" [attr.data-parent]="'#accordion_' + i" [attr.href]="'#collapse_' + i" >
        {{c}}
        </a>
      </h4>
    </div>  
      <div [attr.id]="'collapse_' + i" class="panel-collapse collapse">
        <div class="card-body" >
         <p>hey item {{i}} {{c}}</p>

          <div class="container">
            <table class="table">
                <tr>
                    <th>
                        Skill
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        Description
                    </th>
                </tr>
                <tr *ngFor="let s of sfiaSkills; let i = index">
                    <td><a [routerLink]="['/sfia-skill',s.skill_id]">{{s.skill}}</a></td>
                    <td>{{s.skill_category}}</td>
                    <td>{{s.skill_description}}</td>
                </tr>
            </table>
            </div>
        </div>
      </div>
    </div>
  </div>

  




<br>

  <!-- BIG TESTS UNDERNEATH -->


<div class="container">
  <h3>Testing other ways</h3>
<br>
<div class="accordion" id="myAccordion">

    <div class="card">
    <div class="card-header" id="item1Header">
         <h5 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#expandable1" aria-expanded="false" aria-controls="expandable1">
             Expandable Item 1
           </button>
         </h5>
       </div>
       <div id="expandable1" class="collapse" aria-labelledby="item1Header" data-parent="#myAccordion">
         <div class="card-body">
            <div class="container">
                <table class="table">
                    <tr>
                        <th>
                            Skill
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                    <tr *ngFor="let s of sfiaSkills; let i = index">
                        <td><a [routerLink]="['/sfia-skill',s.skill_id]">{{s.skill}}</a></td>
                        <td>{{s.skill_category}}</td>
                        <td>{{s.skill_description}}</td>
                    </tr>
                </table>
                </div>
         </div>
       </div>
     </div>
    
     <div class="card">
       <div class="card-header" id="item2Header">
         <h5 class="mb-0">
           <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#expandable2" aria-expanded="true" aria-controls="expandable2">
             Expandable Item 2
           </button>
         </h5>
       </div>
       <div id="expandable2" class="collapse" aria-labelledby="item2Header" data-parent="#myAccordion">
         <div class="card-body" ng-init="getSkillTesting()">
            <div class="container">
                <table class="table">
                    <tr>
                        <th>
                            Skill
                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                    <tr *ngFor="let s of sfiaSkills; let i = index">
                        <td><a [routerLink]="['/sfia-skill',s.skill_id]">{{s.skill}}</a></td>
                        <td>{{s.skill_category}}</td>
                        <td>{{s.skill_description}}</td>
                    </tr>
                </table>
                </div>
         </div>
       </div>
     </div>
    
     <div class="card">
       <div class="card-header" id="item3Header">
         <h5 class="mb-0">
           <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#expandable3" aria-expanded="false" aria-controls="expandable3">
              Expandable Item 3
           </button>
         </h5>
       </div>
       <div id="expandable3" class="collapse" aria-labelledby="item3Header" data-parent="#myAccordion">
         <div class="card-body">
             This is the card body. Your content is hidden initially. It is shown by clicking on the card header.
         </div>
       </div>
     </div>
    </div>


</div> <!--end of container-->