<br>
<div class="container">
        <h3>Role Groups</h3>
</div>
<br>
<div class="container">
    <div class="accordion" id="myAccordion">
        <div class="card">
        <div class="card-header" id="item1Header">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#expandable1" aria-expanded="false" aria-controls="expandable1" (click)="getRoleArchitecture()">
                        Architecture
                    </button>
                </h5>
        </div>
        <div id="expandable1" class="collapse" aria-labelledby="item1Header" data-parent="#myAccordion">
                <div class="card-body">
                <div class="container">
                    <table class="table">
                        <tr>
                            <th>
                                Role
                            </th>
                            <th>
                                Role Grade
                            </th>
                            <th>
                                Role Summary
                            </th>
                            <th>
                                View Associated Skills
                            </th>
                        </tr>
                        <tr *ngFor="let r of roles; let i = index">
                            <td>{{r.role_title}}</td>
                            <td>{{r.role_grade}}</td>
                            <td>{{r.role_summary}}</td>
                            <td><a [routerLink]="['/role-by-skill',r.role_id]"><i class="fa fa-search fa-3x"></i></a></td>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="myAccordion">
        <div class="card">
            <div class="card-header" id="item2Header">
                <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#expandable2" aria-expanded="false" aria-controls="expandable2" (click)="getBusinessAnalysis()">
                    Business Analysis
                </button>
                </h5>
            </div>
            <div id="expandable2" class="collapse" aria-labelledby="item2Header" data-parent="#myAccordion">
                <div class="card-body">
                    <div class="container">
                        <table class="table">
                            <tr>
                                <th>
                                    Role
                                </th>
                                <th>
                                    Role Grade
                                </th>
                                <th>
                                    Role Summary
                                </th>
                            </tr>
                            <tr *ngFor="let r of roles; let i = index">
                                <td>{{r.role_title}}</td>
                                <td>{{r.role_grade}}</td>
                                <td>{{r.role_summary}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="myAccordion">
        <div class="card">
            <div class="card-header" id="item3Header">
                <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#expandable3" aria-expanded="false" aria-controls="expandable3" (click)="getConsulting()">
                    Consulting
                </button>
                </h5>
            </div>
            <div id="expandable3" class="collapse" aria-labelledby="item3Header" data-parent="#myAccordion">
                <div class="card-body">
                    <div class="container">
                        <table class="table">
                            <tr>
                                <th>
                                    Role
                                </th>
                            <th>
                                    Role Grade
                                </th>
                                <th>
                                    Role Summary
                                </th>
                            </tr>
                            <tr *ngFor="let r of roles; let i = index">
                                <td>{{r.role_title}}</td>
                                <td>{{r.role_grade}}</td>
                                <td>{{r.role_summary}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="myAccordion">
        <div class="card">
            <div class="card-header" id="item4Header">
                <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#expandable4" aria-expanded="false" aria-controls="expandable4" (click)="getDeliveryManagement()">
                    Delivery Management
            </button>
                </h5>
            </div>
            <div id="expandable4" class="collapse" aria-labelledby="item4Header" data-parent="#myAccordion">
                <div class="card-body">
                    <div class="container">
                        <table class="table">
                            <tr>
                                <th>
                                    Role
                                </th>
                                <th>
                                    Role Grade
                                </th>
                                <th>
                                    Role Summary
                                </th>
                            </tr>
                            <tr *ngFor="let r of roles; let i = index">
                                <td>{{r.role_title}}</td>
                                <td>{{r.role_grade}}</td>
                                <td>{{r.role_summary}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="myAccordion">
        <div class="card">
            <div class="card-header" id="item5Header">
                <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#expandable5" aria-expanded="false" aria-controls="expandable5" (click)="getEngineering()">
                    Engineering
                </button>
                </h5>
            </div>
            <div id="expandable5" class="collapse" aria-labelledby="item5Header" data-parent="#myAccordion">
                <div class="card-body">
                    <div class="container">
                        <table class="table">
                            <tr>
                                <th>
                                    Role
                                </th>
                                <th>
                                    Role Grade
                                </th>
                                <th>
                                    Role Summary
                                </th>
                            </tr>
                            <tr *ngFor="let r of roles; let i = index">
                                <td>{{r.role_title}}</td>
                                <td>{{r.role_grade}}</td>
                                <td>{{r.role_summary}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <div class="accordion" id="myAccordion">
        <div class="card">
            <div class="card-header" id="item6Header">
                <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#expandable6" aria-expanded="false" aria-controls="expandable6" (click)="getFinance()">
                    Finance
                </button>
                </h5>
            </div>
            <div id="expandable6" class="collapse" aria-labelledby="item6Header" data-parent="#myAccordion">
            <div class="card-body">
                    <div class="container">
                        <table class="table">
                            <tr>
                                <th>
                                    Role
                                </th>
                                <th>
                                    Role Grade
                                </th>
                                <th>
                                    Role Summary
                                </th>
                            </tr>
                            <tr *ngFor="let r of roles; let i = index">
                                <td>{{r.role_title}}</td>
                                <td>{{r.role_grade}}</td>
                                <td>{{r.role_summary}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion" id="myAccordion">
        <div class="card">
            <div class="card-header" id="item7Header">
                <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#expandable7" aria-expanded="false" aria-controls="expandable7" (click)="getHumanResources()">
                    Human Resources
                </button>
                </h5>
            </div>
            <div id="expandable7" class="collapse" aria-labelledby="item7Header" data-parent="#myAccordion">
                <div class="card-body">
                    <div class="container">
                        <table class="table">
                            <tr>
                                <th>
                                    Role
                                </th>
                                <th>
                                    Role Grade
                                </th>
                                <th>
                                    Role Summary
                                </th>
                            </tr>
                            <tr *ngFor="let r of roles; let i = index">
                                <td>{{r.role_title}}</td>
                                <td>{{r.role_grade}}</td>
                                <td>{{r.role_summary}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
