<div class = "container">
      <table class="table">
           <tr>
            <th>SkillCode</th>
            <th>Role Title</th>
            <th>Skill Level Required</th>
            <th>Role Group</th>
            <th>Summary</th>
           </tr>
             <tr *ngFor ="let role of roleSkillMaps; let i = index">
             <td>{{role.skillcode}}</td>
             <td>{{role.role.role_title}}</td>
             <td>{{role.level}}</td>
             <td>{{role.role.roleGroup.role_group}}</td>
             <td>{{role.role.role_summary}}</td>
     </table>
</div>