
<div class="container">

        <h2>{{competency.competency_category}} - {{competency.competency_description}}</h2>

        <div class = "container">
        <h3>Competency Description</h3>
            <p>{{competency.competency_category}}</p>
        </div>

        <table class = "table">
            <tr>
                <td>Level 1</td>
                <td>{{competency.level1}}</td>
            </tr>

            <tr>
                <td>Level 2</td>
                <td>{{competency.level2}}</td>
            </tr>

            <tr>
                <td>Level 3</td>
                <td>{{competency.level3}}</td>
            </tr>

            <tr>
                <td>Level 4</td>
                <td>{{competency.level4}}</td>
            </tr>

            <tr>
                <td>Level 5</td>
                <td>{{competency.level5}}</td>
            </tr>

            <tr>
                <td>Level 6</td>
                <td>{{competency.level6}}</td>
            </tr>
        </table>

</div>
